@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply bg-white text-black;
    }
  
    .dark {
      @apply bg-gray-900 text-gray-300;
    }
  }

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide{
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.blog-content{
    padding:36px 0;
}
.blog-content b{
    margin-bottom: 10px;
    font-weight: 500;

}
.blog-content p {
    margin-bottom: 10px;

}
.blog-content h1{
    margin-bottom: 10px;
    font-weight:600;
    font-size: 26px;


}
.blog-content h2{
    margin-bottom: 10px;
    font-weight:500;
    font-size: 22px;
    

}

.blog-content h3{
    margin-bottom: 10px;
    font-weight:500;
    font-size: 18px;
    

}

:root {
    --bg-color: #d6ae33;
    --text-color: #000000;
  }
  
  .dark {
    --bg-color: #666666; /* Dark background color */
    --text-color: #a0aec0; /* Dark text color */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /* Additional styles for other elements can be added similarly */
  